{% extends "base/base.html" %}

{% block body %}
<img src="/static/img/banners/worldmapskinny.jpg" class="banner-pic" alt="world map blog owner" title="World Map of Travel Blogs">
<div class="row blog-owner-blocks">
    <div class="col-md-offset-2 col-md-3 text-center blog-owner-block">
      <h1><span class="glyphicon glyphicon-book"></span> Information</h1>
      <p>Would you like to see information about our Blog Owner Program? It's super simple, and built to help drive the correct traffic to your site.</p>
      <p><a class="btn btn-info" href="/blogowner/info/">Take me to Information</a></p>
    </div>
    <div class="col-md-offset-2 col-md-3 text-center blog-owner-block">
      <h1><span class="glyphicon glyphicon-certificate"></span> Register</h1>
      <p>Registering your site is just a few clicks away. It's super simple, and there is nothing to lose.</p>
      <p><a class="btn btn-info" href="/blogowner/register/">Take me to Register</a></p>
    </div>
</div>
<div class="row blog-owner-blocks">
    <div class="col-md-offset-2 col-md-3 text-center blog-owner-block">
      <h1><span class="glyphicon glyphicon-tree-conifer"></span> Sponsor</h1>
      <p>If you would like to boost traffic to your site, take a look at our promotions as well as options for sponsoring your site.</p>
      <p><a class="btn btn-info" href="/blogowner/sponsor/">Take me to Sponsor Information</a></p>
    </div>
    <div class="col-md-offset-2 col-md-3 text-center blog-owner-block">
      <h1><span class="glyphicon glyphicon-cloud-upload"></span> Uploads</h1>
      <p>We offer a couple options to upload content such as regional banner pictures and guest blog posts. There are plenty of free opportunites
          to increase traffic to your site!</p>
      <p><a class="btn btn-info" href="/blogowner/upload/">Take me to Uploads</a></p>
    </div>
</div>
{% endblock %}