{% extends "base/base.html" %}

{% block body %}
<div class="jumbotron text-center" style="margin: 0px;"><h2>Why Should I register my travel blog site?</h2></div>
<div class="col-md-offset-2 col-md-8" style="margin-bottom:20px">
    <div>
        <p>First of all, the best part is that <b>there is nothing to lose</b>.
        It takes 2 minutes, completely free and will help increase traffic to your
        site with <u>relevant users</u> who are searching for travel blogs in a
        certain country or continent.</p>

        <!--<div class="text-center">-->
        <!--    <span class="glyphicon glyphicon-arrow-right"></span><a href="/info/"> More about Travel Blog Source</a>-->
        <!--</div>-->
    </div>
</div>

<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <b><span class="glyphicon glyphicon-globe"></span> Register</b>
          </div>
          <div class="panel-body">
            <p>For travel blog owners, the process is simple. All you need to do
            is fill out a short form and you will then show up for readers searching
            for travel blogs based on <b>continent, country, or rating</b>.</p>
          </div>
          <div class="pannel-footer text-center">
            <p><a class="btn btn-info" href="/blogowner/register/">Let me Register!</a></p>
          </div>
        </div>

        <div class="text-center panel panel-default">
          <div class="panel-heading">
            <b>Still have questions?</b>
          </div>
          <div class="panel-body">
            <p>Please look at our <a href="/help/blogowner/">Blog Owner Help</a>
            and if that does not answer your question, please <a href="/contact/">Contact Us</a>
          </div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="text-center panel-heading">
            <b>Gain more traffic <span class="glyphicon glyphicon-leaf"></span></b>
          </div>
          <div class="panel-body">
            <p>Another option to consider for travel blog owners are our various
            sponsorship opportunities. There are a few types of sponsorship options
            including social media contests and in the future paid sponsorships.</p>

            <p>Sponsorships can land you a highlighted link in searches, appear at the top of search
            results, a featured blog post, or a banner image that everyone will
            see for a certain continent or country. Everything is completely free!</p>
          </div>
          <div class="pannel-footer text-center">
            <p><a class="btn btn-info" href="/blogowner/sponsor/">I want to read more!</a></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}