{% extends "base/base.html" %}

{% block body %}
<div class="jumbotron text-center" style="border-bottom:solid 5px #5bc0de;"><h1>Sponsorship Information</h1></div>
<div class="row">
    <div class="col-md-4 col-md-offset-1" >
        <div class="col-md-offset-1">
            <h2 class="text-center"><span class="glyphicon glyphicon-user"></span>  Social Media Promotions</h2>
            <p>Each week we will select up to 5 participants from Social Media to receive a Sponsorship, which will highlight your Travel Blog in searches and help drive traffic to your site.</p>
            <h3>Instagram</h3>
            <p>Share your pictures through instagram with #tbsrc</p>
            <h3>Twitter</h3>
            <p>your status on Twitter with #tbsrc and we can help you more than just simply retweeting.</p>
            <h3>Facebook</h3>
            <p>Use #tbsrc in your Facebook posts.</p>
            <h3>Google+</h3>
            <p>Be sure to include #tbsrc in your posts</p>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <div>
            <h2 class="text-center"><span class="glyphicon glyphicon-cloud-upload"></span>  Uploads</h2>
            <p>There are currently two types of uploads to help boost traffic to your site.</p>
            <p>The first type of upload is <a href="/blogowner/upload/bannerpic/">Banner Picture</a> which appears at the top of region pages, or the home page. Some regions are free, and some you will need to pay a small amount.</p>
            <p>The second type of upload is a <a href="/blogowner/upload/blog/">Blog Entry</a>. You may upload a blog entry which is pertinent to a specific region. Some regions are free, and some you will need to pay a small amount.</p>
        </div>

        <div style="padding-top: 30px;">
            <h2 class="text-center"><span class="glyphicon glyphicon-stats"></span>  But what does it do for me?</h2>
            <p>We are keeping a close eye on what Sponsorships can do for Travel Blogs. We're just as concerned as you are about improving the world of travel blogging.</p>
            <p>There are a series of reports and charts to help understand how sponsorships affect traffic, and we will share them when there is enough data.</p>
        </div>
    </div>
</div>
{% endblock %}