{% extends "base/base.html" %}

{% block body %}
    <div class="row inverse-row">
      <div class="jumbotron text-center"><h1>What is Travel Blog Source?</h1></div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading text-center"><h2>Improve search, growth and popularity of travel blogs</h2></div>
            <div class="panel-body">
                <p>The purpose of travel blog
                source is to improve search, growth and popularity of travel blogs.
                Due to a lack of searchability and the sheer growth of travel blogs,
                in recent years it has been become difficult for
                new travel blogs to gain new readers.</p>

                <h4 class="text-center">How will Travel Blog Source accomplish this?</h4>
                <p>Many times readers are searching for information on a specific
                    country or continent. The problem is that when using google,
                    they receive the top 3 blogs which have been around for years.
                    TBS allows readers to search for blogs in a country or region
                    and sort by ratings and/or search the information provided by
                    the blog owner.
                </p>
                <p>There are also other options for blogs who are wanting to go
                    the extra mile to build their customer base such as contributing
                    blog articles that will be displayed on TBS, submitting banner
                    pictures, or participating in social media.
                </p>
                <p>If you are a travel blog owner, there is nothing to lose. Just
                    fill out the short <a href="/blogowner/register/">registration form</a>
                    and you will show up in search results! It only takes a minute to
                    improve the world of travel blogging.
                </p>
                <div class="col-xs-offset-12 col-md-4 col-md-offset-4">
                    <a class="btn btn-info btn-block" href="/blogsearch/">
                        Begin your search <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock %}