{% extends "base/base.html" %}

{% block body %}
<div class="help">
    <div class="help-inner">
    <div class="jumbotron text-center">
        <h1>Help Topics</h1>
    </div>
    <div class="row">
        <div class="col-md-3 help-group">
            <a href="/help/">All</a>
        </div>
        <div class="col-md-3 help-group">
            <a href="/help/blogowner/">Blog Owner</a>
        </div>
        <div class="col-md-3 help-group">
            <a href="/help/blogsearch/">Blog Search</a>
        </div>
        <div class="col-md-3 help-group">
            <a href="/help/general/">General</a>
        </div>
    </div>
    {% if type %}
    <h4>You're currently looking at topics only for {{ type }}. If you would like to see all topics, go <a href="/help/">here</a></h4>
    {% endif %}
    <div class="col-md-offset-2 col-md-8">
    {% for topic in helptopics %}
        <h4 id="help{{ topic.id }}">{{ topic.sub_group }} - {{ topic.question }}</h4>
        <p style="margin-bottom:30px;">{{ topic.answer|safe }}</p>
    {% empty %}
    </div>
        <h3>There are no Help Topics :-(</h3>
        <p>We can't find any Help Topics right now. Maybe something is wrong?</p>
    {% endfor %}
    </div>
</div>
{% endblock %}