{% extends "base/base.html" %}

{% block body %}
    <div class="container">
        <h3>Feedback</h3>
        <p><b>Important! Please use the link in the header to leave feedback. I can't effectively manage feedback coming in from
            facebook messages.</b> Feel free to leave any sort of feedback whether it's errors, suggestions, or
            questions about life. Please be honest!
        </p>
        <h3>Test Data</h3>
        <p>Feel free to create any data you wish. Create an <a href="/accounts/login/">account</a>. Create
            a fake <a href="/blogowner/register/">blogsite</a>. Upload fake
            <a href="/blogowner/upload/blog/">blog posts</a> or
            <a href="/blogowner/upload/bannerpic/">banner pics</a>. We have loaded
            some initial data which can mainly be found in the
            <a href="/blogsearch/region/southamerica">South America</a>
            region as well as some south american
            <a href="/blogsearch/region/colombia/">countries</a>.
        </p>
        <h3>Questions</h3>
        <p>If you have any questions, don't hesitate to read the <a href="/help/">Help Topics</a>,
        <a href="/contact/">Contact Us</a>, or send a <a href="http://twitter.com/travelblogsrc">tweet</a>
            our way.
        </p>
        <h2>Ok, I understand, <a href="/">let me start!</a></h2>
    </div>
{% endblock %}