<footer>
    <div class="col-md-offset-1 col-md-10">
        <div class="col-md-4">
            <p>Developed by <a href="http://azulcloudstudio.com">Azul Cloud Studio</a>
            <p>&copy; 2013 Azul Cloud Studio - All Rights Reserved</p>
        </div>
        <div class="col-md-8">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <a href="/blogsearch/">Search Travel Blogs</a>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <a href="/blogsearch/">Find Travel Blogs</a>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <a href="/blogowner/">Grow Travel Blogs</a>
            </div>
        </div>
    </div>
</footer>