{% load static %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jRating.jquery.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.dataTables.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/jquery.jqplot.css" media="screen" />
<link rel="steps icon" href="/static/img/icons/tbs_logo.ico">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
<script src="{% get_static_prefix %}js/bootstrap.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jRating.jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/fb.js"></script>
<!--<link rel="steps icon" href="{% get_static_prefix %}img/icons/StepsIcon.ico">
{% include "include/seometadata.html" %}-->

<meta name="description" content="Your home for finding the travel blogs that you're looking for. Search
    by country, continent, keywords or rating.">
<meta name="keywords" content="Travel, Blog">
<meta name="author" content="Adam">
<meta charset="UTF-8">